.grande {
	border: 1px solid black;
	width: 25%;
	}
#amarillo {
	background-color: yellow;
	width: 25%;
	height: 100px;
	float:left;
}
#azul {
	background-color: #8181F7;
	width: 25%;
	height: 100px;
	float:left;
}
#rojo {
	background-color: #FF0080;
	width: 25%;
	height: 100px;
	float:left;
}
.clearfix:before, .clearfix:after {
	content:"";
	display: table;
}
.clearfix:after {
	clear: both;
}

}



